@model Degrey.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style="padding-left:20px">
    <br />
    <h4 pa> Chi Tiết Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecriptionPro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecriptionPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePro)
        </dt>

        <dd>
            <img src="~/Content/images/aq1.png" width="200px"  />
        </dd>

     </dl>
</div>
<p style="padding-left:20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
